*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*  ----HEADER----  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 40px;
    background: rgb(223, 221, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.img{
    position:relative;
    width: auto;
    height: 100px;
    object-fit: contain;
}

.logo{
    position: relative;
    font-size: 1.95em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 50;
    width: 100%;
}

/* ----Log Out Button---- */
.logout{
    position: relative;
    width: 170px;
    height: 40px;
    background: #062d58;
    border: 2px solid black;
    border-radius: 35px;
    border-width: 2px ;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    transition: color .3s ease;
    overflow: hidden;
}

.logout:hover {
    color: black;
    border-color: black;
}

.logout::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 0.4s ease;
    background: linear-gradient(90deg, #d40000, #f84e4e);
}

.logout:hover::before{
    left: 0;
}

.logout span{
    position: relative;
    z-index: 1;
}

/* ---- SETTINGS BUTTON ---- */
.settings{
    position: relative;
    width: 60px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    border-width: 2px ;
    cursor: pointer;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    z-index: 10;
}

.settings_icon{
    width: 30px;
    height: 30px;
    margin-top: 3px;
}

/* ---- POP UP SETTINGS ---- */
.tooltip{
    position: absolute;
    top: 50%;
    bottom: auto;
    right: calc(100% + 12px);
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    font-size: 0.85rem;
    padding: 6px 10px;
    border-radius: 8px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    z-index: 200;
}

.tooltip::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 101.7px;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}

.settings:hover .tooltip{
    opacity: 1;
    right: calc(100% +18px);
}

/*---------------*/
/*------BODY-----*/
/*---------------*/
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 34.4px;
    background: linear-gradient(-85deg, #01035c, #114e94, #114e94, #0f0b44);
    background-size: 400% 500%;
    animation: gradientMove 20s linear infinite; 
    
}

@keyframes gradientMove {
     0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* ----COINTAINER---- */
.container{
    position: relative;
    margin: 110px auto 30px auto;
    width: 500px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    box-shadow: 0 50px 55px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    height: 455px;
    max-height: 455px;
    margin-left: 360px;
    top: -40px;
}

/* ---- TRANSFERS ---- */
.transfer_top{
    text-align: center;
    padding: 25px 40px;
    background: linear-gradient(180deg, #062d58 15%, #06a4e2 160%);
}

.transfer_top h2{
    font-size: 2.12rem;
    color: rgba(255, 255, 255, 0.938);
    margin-bottom: 5px;
    font-weight: 600;
}

/* ---- EXIT ICON ----- */
.exit{
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.exit img{
    width: 30px;
    height: 30px;
    filter: brightness(1) saturate(100%) invert(100%);
    transition: none;
}

.exit:hover{
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(18%) sepia(100%) saturate(7000%) hue-rotate(0deg);
    background-color: transparent;
    transition: none;
}

/* ---- TRANSFER FORM ---- */
.transfer_form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 25px 40px;
    margin-top: 20px;
}

.form_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_row label{
    width: 100px;
    font-weight: bold;
    color: #222;
    font-size: 0.95rem;
}

.iban{
    font-weight: 600;
    color: #000;
    font-size: 1.1rem;
    margin-right: 16px;
}

.form_row input{
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 0.9rem;
}

input:focus {
    outline: none;
    border: 2px solid #303131;
    caret-color: black; 
}

/* ---- SEND BUTTON ---- */
.send{
    position: relative;
    align-self: center;
    background: linear-gradient(90deg, #0b4f91, #00b4db);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 15px 27px;
    border-radius: 8px;
    margin-top: 55px;
    cursor: pointer;
    transition: transform 0.2s ease;
    overflow: hidden;
    margin-left: 20px;
}

.send:hover{
    transform: scale(1.05);
}

.send::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1ceb1e, #13a013);
    transition: bottom 0.5s ease-in-out;
    z-index: 0;
}

.send:hover::before{
    bottom: 0;
}

.send span{
    position: relative;
    z-index: 1;
}